%h1 Orders

= render 'search_order_form'

%table.table
  %thead
    %tr
      %th Number
      %th State
      %th User Email
      %th User Name
      %th Actions
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.number, order
        %td= order.state
        %td= order.user.email
        %td= order.user.name
        %td
          = link_to 'Details', order, class: 'btn btn-primary'
          - unless order.cancelled?
            = link_to 'Cancel Order', cancel_order_path(order), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

= paginate @orders, theme: 'bootstrap'
