%h1 Orders

= form_with url: orders_path, method: :get, local: true do |form|
  .row
    .col-sm-2
      = form.text_field :number, value: params[:number], class: 'form-control', placeholder: "Enter Order Number"
    .col-sm-10
      = form.submit 'Search', class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th Number
      %th State
      %th User Email
      %th User Name
      %th Actions
  %tbody
    - @orders.each do |order|
      %tr
        %td= link_to order.number, order
        %td= order.state
        %td= order.user.email
        %td= order.user.name
        %td
          = link_to 'Details', order, class: 'btn btn-primary'
          - unless order.cancelled?
            = link_to 'Cancel Order', cancel_order_path(order), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

= paginate @orders, theme: 'bootstrap'
